/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */


.home-headding-container {
  width: 1192px;
  height: 215px;
  flex-shrink: 0;
  background-image: url('../assets/images/mountain.png');
  margin: 46px auto 0px auto;
  position: relative;
  background-color: #6E6F64;
}

.home-details-container {
  height: 571px;
  width: 1192px;
  margin: auto;
  position: relative;
}

.about {
  background: #6E6F64;
  margin: auto;
}

.about p {
  display: flex;
  color: #FFF;
  font-family: Poppins, Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem;
}

.about p i {
  display: flex;
  color: #FFF;
  font-family: Poppins, Montserrat;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.contact {
  background: #6E6F64;
  margin: auto;
}