.home-headding-container {
  flex-shrink: 0;
  background-image: url('../assets/images/mountain.png');
  margin: auto;
  background-color: #6E6F64;
}

.home-details-container {
  margin: auto;
}

.about {
  background: #6E6F64;
  margin: auto;
}

.about p {
  display: flex;
  color: #FFF;
  font-family: Poppins, Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem;
}

.about p i {
  display: flex;
  color: #FFF;
  font-family: Poppins, Montserrat;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.contact {
  background: #6E6F64;
  margin: auto;
}