.navigation-button {
    display: flex;
    height: 34px;
    border: 2px solid #FFF;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.navigation-button:hover {
    transform: scale(1.1);
}

.navigation-button p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
}

.navigation-button :hover {
    cursor: pointer;
}